@font-face {
  font-family: Boxybrush;
  src: url("../fonts/Boxybrush.ttf");
}

.click-me {
-moz-appearance: button;
-ms-appearance: button;
-o-appearance: button;
-webkit-appearance: button;
appearance: button;
font-family: Boxybrush;
text-decoration: none;
color: #000;
padding: 10px;
}​

.box {
  background: red;
  float:left;
  height: 25px;
  width: 25px;

}

p {
  color: red;
}

body {
  background-color: #333;
}

h1  {
  z-index: 0;
font-family: Boxybrush;
  text-transform: uppercase;
  -webkit-animation: color-change 3s infinite;
        -moz-animation: color-change 3s infinite;
        -o-animation: color-change 3s infinite;
        -ms-animation: color-change 3s infinite;
        animation: color-change 3s infinite;
    }

    @-webkit-keyframes color-change {
        0% { color: red; }
        50% { color: blue; }
        100% { color: red; }
    }
    @-moz-keyframes color-change {
        0% { color: red; }
        50% { color: blue; }
        100% { color: red; }
    }
    @-ms-keyframes color-change {
        0% { color: red; }
        50% { color: blue; }
        100% { color: red; }
    }
    @-o-keyframes color-change {
        0% { color: red; }
        50% { color: blue; }
        100% { color: red; }
    }
    @keyframes color-change {
        0% { color: pink; }
        50% { color: skyblue; }
        100% { color: orange; }
    }
